.testimonials .testimonials-container .body {
  padding: 20px;
}

.testimonials .testimonials-container .client-info {
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  border-top: 1px solid rgba(44, 47, 51, 0.15);
  padding-top: 15px;
  color: #2c2f33;
}

/* Each column/card  */
.testimonials .testimonials-container .col {
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .testimonials .testimonials-container .col {
    flex-basis: 100%;
  }
}

.testimonials .testimonials-container .col.hidden {
  display: none;
}

.testimonials .testimonials-container .body {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Client and project links */
.testimonials .testimonials-container .client-info a {
  color: #2c2f33;
  border-bottom: 1px solid#2c2f33;
}

.testimonials .testimonials-container .client-info .client-name,
.testimonials .testimonials-container .client-info .client-company {
  margin-right: 15px;
}

.testimonials .testimonials-container .body .left-quote-container svg {
  font-size: 2em;
  color: #72addd;
}

/* Testimonials Toggle Styles  */
.testimonials .testimonials-container .testimonials-toggle {
  cursor: pointer;
}

.testimonials .testimonials-container .testimonials-toggle svg {
  font-size: 22px;
  margin-bottom: -2px;
  margin-right: 3px;
  color: #72addd;
}
